---
import Layout from "../layouts/Layout.astro";
import Project from "../components/Project.astro";
import Hero from "../components/Hero.astro";
import Formation from "../components/Formation.astro";
import Tecnologies from "../components/Tecnologies.astro";
import Contact from "../components/Contact.astro";
---

<Layout
  title="Portfolio - Alex Mendoza - Desarrollador FullStack Web"
  description="Si necesitas un desarrollador para crear tus web apps no dudes en contactarme."
>
  <main class="w-full mx-auto lg:w-[740px] text-[#222831]">
    <section class="py-20">
      <Hero />
    </section>
    <section id="proyectos" class="py-20">
      <Project />
    </section>
    <section id="formacion" class="py-20">
      <Formation />
    </section>
    <section id="tecnologias" class="py-20">
      <Tecnologies />
    </section>
    <section id="contacto" class="py-20 min-h-screen">
      <Contact />
    </section>
  </main>
</Layout>
