<footer class="bg-[#071952] rounded-lg shadow m-4">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-white/90 sm:text-center font-bold">Portfolio - Alex Mendoza - 2024</a>
    </span>
    </div>
</footer>
