<h2 class="text-4xl font-bold text-center">Formación</h2>
<ol class="relative border-s border-black">
  <li class="mb-10 ms-4">
    <div
      class="absolute w-3 h-3 bg-[#222831] rounded-full mt-1.5 -start-1.5 border border-black"
    >
    </div>
    <time class="mb-1 text-lg font-normal leading-none"
      >2023 - Actualidad</time
    >
    <h3 class="text-2xl font-semibold text-balance">
      Licenciatura en Ciencias de Datos - Universidad Nacional del Litoral
    </h3>
    <p class="text-base font-normal py-2">
      - Diseñar, implementar, ejecutar y validar modelos, aplicando metodologías y
      principios matemáticos, computacionales y estadísticos vinculados al
      tratamiento de datos.
    </p>
    <p class="text-base font-normal pb-1">
        - Brindar asesoramiento para la aplicación de teorías, metodologías y recursos de la Ciencia de Datos en actividades productivas y de servicios.
      </p>
      <p class="text-base font-normal pb-1">
        - Realizar tareas de consultoría, auditoría, inspecciones y/o pericias legales que requieran especialistas en Ciencias Matemáticas, de la Computación y de Datos en cuerpos ejecutivos, legislativos y judiciales, u otras instituciones oficiales o privadas.
      </p>
      <p class="text-base font-normal pb-1">
        - Participar en proyectos de investigación científica, técnica y tecnológica interdisciplinarios en las distintas áreas de su competencia.
      </p>
      <p class="text-base font-normal">
        - Participar en el diseño, desarrollo y evaluación de documentos y materiales sobre temas de las distintas áreas de las Ciencias Matemáticas, de la Computación y de Datos, organizando y administrando programas de desarrollo disciplinar para la formación de recursos humanos en los distintos niveles educativos, así como para el público en general.
      </p>
  </li>
  <li class="mb-10 ms-4">
    <div
      class="absolute w-3 h-3 bg-[#222831] rounded-full mt-1.5 -start-1.5 border border-black"
    >
    </div>
    <time class="mb-1 text-sm font-normal leading-none">2023</time
    >
    <h3 class="text-2xl font-semibold text-balance">
      Desarrollador FullStack Web - MERN - Argentina Programa
    </h3>
    <p class="text-base font-normal">
      Módulo 1: MongoBD. Express. React. Redux Framework. Node.js. API
      REST/REST.
    </p>
    <p class="mb-4 text-base font-normal">
      Módulo 2: ES6 + JavaScript. API REST / CRUD. Postman. Agile - Scrum.
      Sprint. MVP. Selenium. Deploy
    </p>
  </li>
</ol>
