<header class="w-full top-0 z-50 bg-[#76ABAE] sm:sticky">
  <nav
    class="flex flex-col justify-center text-center gap-x-10 p-6 text-white/90 font-bold sm:flex-row"
  >
    <a href="#top">Inicio</a>
    <a href="#proyectos">Proyectos</a>
    <a href="#formacion">Formación</a>
    <a href="#tecnologias">Tecnologías</a>
    <a href="#contacto">Contacto</a>
  </nav>
</header>
