<header class="w-full bg-[#76ABAE] sm:sticky top-0 z-50">
  <nav
    class="flex flex-wrap gap-x-10 p-6 text-white/90 font-bold sm:flex-row justify-center"
  >
    <a href="#top">Inicio</a>
    <a href="#proyectos">Proyectos</a>
    <a href="#formacion">Formación</a>
    <a href="#tecnologias">Tecnologías</a>
    <a href="#contacto">Contacto</a>
  </nav>
</header>
