<div
  class="text-5xl font-bold flex justify-center py-2 flex-col items-center gap-3"
>
  <h1>Hola! Soy Alex</h1>
  <h2>Desarrollador FullStack Web</h2>
</div>
<div>
  <div class="flex justify-center items-center gap-2 py-5">
    <a href="https://github.com/AlexMG13"
      ><button
        type="button"
        class="border font-medium rounded-lg text-md px-5 py-2.5 text-center inline-flex items-center me-2 mb-2"
      >
        <svg
          class="size-6 me-2"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            fill-rule="evenodd"
            d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z"
            clip-rule="evenodd"></path>
        </svg>
        Github
      </button>
    </a>
    <a href="https://www.linkedin.com/in/alexgmendoza/"
      ><button
        type="button"
        class="border font-medium rounded-lg text-md px-5 py-2.5 text-center inline-flex items-center me-2 mb-2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="size-6 me-2"
          viewBox="0 0 20 20"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-brand-linkedin"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
          ></path><path d="M8 11l0 5"></path><path d="M8 8l0 .01"></path><path
            d="M12 16l0 -5"></path><path d="M16 16v-3a2 2 0 0 0 -4 0"
          ></path></svg
        >
        LinkedIn
      </button></a
    >
    <a href=""
      ><button
        type="button"
        class="border font-medium rounded-lg text-md px-5 py-2.5 text-center inline-flex items-center me-2 mb-2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="size-6 me-2"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-file-cv"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M14 3v4a1 1 0 0 0 1 1h4"></path><path
            d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"
          ></path><path d="M11 12.5a1.5 1.5 0 0 0 -3 0v3a1.5 1.5 0 0 0 3 0"
          ></path><path d="M13 11l1.5 6l1.5 -6"></path></svg
        >
        Mi CV
      </button></a
    >
  </div>
</div>
<ul class="space-y-1 list-inside text-xl">
  <li class="flex py-2 items-center">
    <svg
      class="w-3.5 h-3.5 me-2 flex-shrink-0"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
      viewBox="0 0 20 20"
    >
      <path
        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
      ></path>
    </svg>
    Soy de Santa Fe, Argentina. En 2023 comencé la Licenciatura de Ciencias de Datos
    en la Universidad Nacional del Litoral. Cuento con experiencia desarrollando
    aplicaciones web, tanto en Frontend como en Backend.
  </li>
  <li class="flex py-2 items-center">
    <svg
      class="w-3.5 h-3.5 me-2 flex-shrink-0"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
      viewBox="0 0 20 20"
    >
      <path
        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
      ></path>
    </svg>
    Colaboré en la organización del PyDay Santa Fe donde reunimos a desarrolladores
    de la zona para compartir conocimiento y experiencias sobre el lenguaje Python.
    El evento contó con un total de 10 charlas con más de 200 asistentes.
  </li>
</ul>
