<div>
  <h1>Hola! Soy Alex</h1>

  <p>
    Soy de Santa Fe, Argentina. En 2023 comencé la Licenciatura de Ciencias de Datos en la Universidad Nacional del Litoral.
    Cuento con experiencia desarrollando aplicaciones web, tanto en Frontend como en Backend.
  </p>

  <p>
    Colaboré en la organización del PyDay Santa Fe donde reunimos a
    desarrolladores de la zona para compartir conocimiento y experiencias sobre el lenguaje Python. El
    evento contó con un total de 10 charlas con más de 200 asistentes.
  </p>

  <p>
    Además de participar activamente en diferentes comunidadades sobre programación compartiendo y aprendiendo. 
  </p>
</div>
