---
import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro';
interface Props {
	title: string;
	description: string;
}

const { description,title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/perfil-nada.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: dark;
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: cadetblue;
	}

	body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
</style>
